<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content= "width=device-width, initial-scale=1.0">
	<title>Smart todo List</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
	<script>
		function navigate(pageName) {
			const pages = document.querySelectorAll("section.page");
			for (let i =0; i< pages.length; ++i){
				pages[i].style.display = "none"
			}
			
			document.querySelector(`section.page.${pageName}`).style.display = "block";
		}
	</script>
	<style>
		section.page.landing {
            display: block;
        }
    </style>
</head>
<body>
	<section class="header"
		<h1>TaskZen</h1>

		<div>
			<button onclick="navigate('landing')">Home</button>
			<button onclick="navigate('my-list')">My List</button>
			<button onclick="navigate('about')">About</button>
		</div>
	</section>

	<section class="page landing">
		<!-- <iframe src="https://qkpage2.co/p/https_taskzen-9a9d734709e7_herokuapp_com_" style="width: 100%; height: 100vh; border: none;"></iframe> -->
		<p>Get Started with TaskZen Today!</p>
		<p>TaskZen is your ultimate smart todo app designed to help you manage tasks efficiently, stay organized, and enhance your productivity. Create, track, and accomplish your goals with ease.</p>
		<button onclick="navigate('my-list')">Get Started now</button>

	</section>

	<section class="page my-list">
		<div class="box-1">

			<form action="/add" method="post">
				<div class="center">
					<label>Task to do</label>
					<input type="text" name="goal" placeholder="Enter errand...">
					<br>
					<button type="submit">Add Task</button>
				</div>
		</form>
		</div>
		<hr>

		{% for errand in errand_list %}
		<div class="errand">
			<p>{{errand.id }} | {{ errand.goal }}</p>
			{% if errand.done == False %}
			<span>Not accomplished</span>
			{% else %}
			<span>Accomplished</span>
			{% endif %}
			<div>
				<a href="/update/{{ errand.id }}">Achieved</a>
				<a href="/delete/{{ errand.id }}">Delete</a>
			</div>
		</div>
		{% endfor %}
	</section>

	<section class="page about">
		<span>About</span>
        <p>Welcome to TaskZen, your ultimate task management solution! TaskZen helps you organize, prioritize, and complete your tasks efficiently. Whether you're managing personal errands or professional projects, TaskZen is designed to help you stay on top of your to-do list.</p>
        <p>Our mission is to simplify task management and enhance productivity. With TaskZen, you can easily add, update, and track your tasks. We believe that staying organized should be effortless, and our tool is here to make that possible.</p>
        <p>Thank you for choosing TaskZen. We hope you find it as useful as we do. If you have any questions or feedback, please don't hesitate to reach out to us!</p>
        <p>Happy tasking!</p>
	</section>
	
</body>
</html>


